@import url("styles/banner.css");
@import url("styles/hearder.css");
@import url("styles/cards.css");
@import url("styles/sobreClinica.css");
@import url("styles/equipe.css");
@import url("styles/localizaçao.css");
@import url("styles/footer.css");


:root{
    --font-principal: "Open Sans";
    --font-titulos: "Roboto";
    --cor-de-fundo: hsl(220, 8%, 93%);
    --branco: #FFFFFF;
    --cor-font: black;
    --azul: #468AC9;
    --cinza-paragrafo: #797d81;
}

body {
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
    
}

header  {
    position: fixed;
    width: 100%;

 }
