@import url("styles/banner.css");
@import url("styles/hearder.css");
@import url("styles/cards.css");


:root{
    --font-principal: "Poppins";
    --cor-de-fundo: hsl(220, 8%, 93%);
    --branco: #FFFFFF;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul-text: #2cccc4;
    --cinza-paragrafo: #b9c1cc;
}

body {
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}