.banner{
    color: var(--cor-font);
    display: flex;
    justify-content: space-between;
    
}

.banner_conteudo{
    padding: 10em 5em 0em 10em;
}

.imagem_banner img{
    /* border-radius: 14em 0px 0px 14em; */
    height: 34em;
    /* width: 50em; */

}

.banner_bemVindo{
    text-transform: uppercase;
    
}

.banner_titulo{
    font-size: 65px;
    font-weight: 500;
    /* text-transform: uppercase; */
    padding: 0.3em 0 0.2em 0;

}



.banner_texto{
    padding-bottom: 1em;
}

#contatos_telefone{
text-transform: uppercase;
background-color: transparent;
border: 1.5px solid var(--azul);
border-radius: 5px;
margin-top: 1.5em;
padding: 1em 0 1em 3em;
color: var(--azul);
display: block;
text-decoration: none;
width: 8em;
}

#contatos_telefone:hover {
    background-color: var(--azul);
    color:var(--branco);
}
