.banner{
    color: var(--cor-font);
    display: flex;
    justify-content: space-between;
    
}

.banner_conteudo{
    padding: 5em 5em 0em 10em;
}

.imagem_banner img{
    border-radius: 14em 0px 0px 14em;
    height: 28em;
  

}

.banner_bemVindo{
    text-transform: uppercase;
    
}

.banner_titulo{
    font-size: 65px;
    font-weight: 500;
    /* text-transform: uppercase; */
    padding: 0.2em 0 0.2em 0;

}

.banner_telefone{
    padding-top: 1em;
}


.banner_texto{
    padding-bottom: 1em;
}

#contatos_telefone{
text-transform: uppercase;
background-color: transparent;
border: 2.2px solid var(--azul);
font-weight: 600;
font-size: 15px;
border-radius: 5px;
margin-top: 1.5em;
padding: 1em 0 1em 3em;
color: var(--azul);
display: block;
text-decoration: none;
width: 8em;
}

#contatos_telefone:hover {
    background-color: var(--azul);
    color:var(--branco);
}
