.card{
    display: grid;
    text-align: center;
    margin: 1.5em;
    line-height:1.4em
}

.titulo{
    font-family: var(--font-titulos);
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    padding: 1em;
    color: var(--cor-font);
}


.card_geral{
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 4em 0 4em;
    
}

.card_serviços{
    color: var(--branco);
    background-color: var(--azul);
    border-radius: 10px;
    margin: 0.5em;
    padding: 2em 4em 2em 4em;
  
}

.nome_serviço{
    padding-bottom: 1em;
    font-family: var(--font-titulos);
    text-transform: uppercase;
    font-size: 17px;
   
}