.card{
    display: grid;
    text-align: center;
    margin: 2em 3em 1em 3em;
    line-height:1.2em
}

.titulo{
    font-family: var(--font-titulos);
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    padding: 1em;
    color: var(--cor-font);
}


.card_geral{
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
            
}

.card_serviços{
    color: var(--branco);
    background: var(--azul);
    border-radius: 10px;
    margin: 0.5em;
    padding: 2em;
  
}

.nome_serviço{
    padding-bottom: 1em;
    font-family: var(--font-titulos);
    text-transform: uppercase;
    font-size: 17px;
   
}
