.equipe{
    background: var(--azul);
    display: grid;
    text-align: center;
    padding: 2em;
}

.conteudo_equipe{
    color: var(--branco);
    margin: 1em;

}
.titulo_equipe{
    text-transform: uppercase;
    font-family: var(--font-titulos);
    font-weight: 700;
    font-size: 28px;
}

.text_equipe{
    padding-top: 1em;
}

.equipe_medica{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 10em 0 10em;
    
}

.card_medico{
    margin: 0.9em;
    background-color: var(--branco);
    padding: 1.5em 0 3em 0;
    border-radius: 0px 12px 12px 0px;
    
}

.foto_medico img{
    height: 15em;
    border-radius: 0px 12px 12px 0px;
}

.especialidade{
    color: var(--cinza-paragrafo);
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font-titulos);
    padding: 0.8em 5em 0.9em 5em;
}

.nome_medico{
    font-size: 19px;
    padding: 0 2em 0 2em;
    font-weight: 700;

}


@media screen and (max-width: 890px) {
.equipe{
    padding: 0;
}

    .equipe_medica {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }

    .card_medico {
        margin: 0.9em 5em;
        background-color: var(--branco);
        padding: 1.5em 0 3em 0;
        border-radius: 0px 12px 12px 0px;
    }

    .foto_medico img {
        height: 10em;
    }

    .especialidade{
        padding: 0.5em;
    }

    .titulo_equipe{
        font-size: 24px;
    }

}
