.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;

}

.container_imagem{
   width: 20%;
   padding-left: 2em;
}

.container a{
    padding-right: 2em;
    text-decoration: none;
    color: var(---cor-font);
}

.container a:hover {
    color: var(--azul);
}
