.sobre_clinica{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 1em;
    line-height:1.4em
    
    
}

.card_clinica{
    padding: 0em 10em 0 6em;
}

.sobre_titulo{
    font-family: var(--font-titulos);
    text-transform: uppercase;
    color: var(--cor-font);
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 0.5em;

}

.descricao_texto{
   padding-bottom: 1em;
}

.imagem_clinica img{
    border-radius: 0 50em 50em 0;
    height: 32em;
    
}