.sobre_clinica{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 1em;
    line-height:1.2em
    
    
}

.card_clinica{
    padding: 0em 8em 0 6em;
}

.sobre_titulo{
    font-family: var(--font-titulos);
    text-transform: uppercase;
    color: var(--cor-font);
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 0.8em;

}

.imagem_clinica img{
    border-radius: 0 50em 50em 0;
    height: 30em;
    
}