.sobre_clinica{
    display: flex;
    justify-content:space-between;
    padding: 1em 0 1em 0;
}

.card_clinica{
    padding: 10em 5em 0 5em;
}

.sobre_titulo{
    text-transform: uppercase;
    color: var(--cor-font);
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 0.5em;

}

.descricao_texto{
   padding-bottom: 1em;
}

.imagem_clinica img{
    border-radius: 0 50em 50em 0;
    height: 32em;
    /* width: 50em; */
}